@font-face {
  font-family: "SpaceMono";
  src: local("SpaceMono"),
  url("@/assets/fonts/SpaceMono-Bold.ttf") format("woff");
}

:root {
  font-family: SpaceMono, Inter, system-ui, Avenir, Helvetica, Arial, monospace, sans-serif;
  line-height: 1.2;
  font-weight: 700;

  --brad: 1rem;
  --brad-small: 0.5rem;

  --fz: 10px;

  --color-primary: hsl(172, 67%, 45%);
  --color-very-dark: hsl(183, 100%, 15%);
  --color-dark: hsl(186, 14%, 43%);
  --color-graysh: hsl(184, 14%, 56%);
  --color-light: hsl(185, 41%, 84%);
  --color-very-light: hsl(189, 41%, 97%);
  --color-white: hsl(0, 0%, 100%);
  --color-error: #e86b55;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  font-size: var(--fz);
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input, button {
  font-family: SpaceMono, Inter, system-ui, Avenir, Helvetica, Arial, monospace, sans-serif;
}

body {
  margin: 0;
  min-width: 375px;
}

